.color_box1 {
  width: 100px;
  height: 100px;
  background-color: #f1f3fd;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  border: 1px solid #f1f3fd;
}

.color_box2 {
  width: 100px;
  height: 100px;
  background-color: #dfe5fa;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  border: 1px solid #dfe5fa;
}

.color_box3 {
  width: 100px;
  height: 100px;
  background-color: #c6d1f7;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  border: 1px solid #c6d1f7;
}

.color_box4 {
  width: 100px;
  height: 100px;
  background-color: #9fb4f1;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  border: 1px solid #9fb4f1;
}

.color_box5 {
  width: 100px;
  height: 100px;
  background-color: #6583e6;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  border: 1px solid #6583e6;
}

.color_box6 {
  width: 100px;
  height: 100px;
  background-color: #5468e0;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  border: 1px solid #5468e0;
}

.color_box7 {
  width: 100px;
  height: 100px;
  background-color: #3c4bd4;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  border: 1px solid #3c4bd4;
}

.color_box8 {
  width: 100px;
  height: 100px;
  background-color: #3339c2;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  border: 1px solid #3339c2;
}

.color_box9 {
  width: 100px;
  height: 100px;
  background-color: #2f319e;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  border: 1px solid #2f319e;
}

.color_box10 {
  width: 100px;
  height: 100px;
  background-color: #2b2e7d;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  border: 1px solid #2b2e7d;
}

.color_box11 {
  width: 100px;
  height: 100px;
  background-color: #1e1f4d;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  border: 1px solid #f1f3fd;
}
