.button {
  width: 80px;
  /* 12(top) 3(right) 6(bottom) 9(left) */
  padding: 10px 5px;
  background-color: lightgray;
  border-radius: 5px;
  text-align: center;
  border: 1px solid lightgray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* 줄 사이의 간격(행간) line-height: 50px; */
  /* 글모양 바꾸기 text-transform: uppercase; */
  /* 자간 word-spacing: 20px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: #0984e3;
}
